@model Hospital_mangement_2.Models.Encounter

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Encounter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncounterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncounterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PractitionerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PractitionerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HospitalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncounterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncounterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncounterType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncounterType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
