@model List<Hospital_mangement_2.Models.Practitioner>

@{
    ViewData["Title"] = "Practitioners";
}

<h1>Practitioners</h1>



<!-- Practitioner List -->
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Specialty</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var practitioner in Model)
        {
            <tr>
                <td>@practitioner.FirstName</td>
                <td>@practitioner.LastName</td>
                <td>@practitioner.Specialization</td>
                <td>
                    <a href="@Url.Action("Details", "Practitioner", new { id = practitioner.HospitalId })">Details</a> |
                    <a href="@Url.Action("Edit", "Practitioner", new { id = practitioner.HospitalId })">Edit</a> |
                    <a href="@Url.Action("Delete", "Practitioner", new { id = practitioner.HospitalId })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

